/demo_models/
/demo_inputs/
/demo_outputs/
/raw_data/swb_silver.tsv
/raw_data/swb_sph/
/raw_data/swb_ms98_transcriptions/
/data/
# Virtual environments
.venv/
.venv-1/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Uploads
uploads/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
